
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer{
    background: #24563e;
    padding: 64px 0 100px;
    position: relative;  
    .y-row{
        @include justify-content(space-between);
    }
    
    &-logo{
        width: 175px;
        display:inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }
    
    &-nav{
            display: inline-block;
        width: calc(100% - 175px);
        margin-right: -4px;
        vertical-align: middle;
        padding-left: 38px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        &-item{
            margin-bottom: 16px;
            &:last-child{
                margin-bottom: 0;
            }
            &__link{
                color: $color-white;
               
                &:hover{
                    //opacity: 0.8;
                    color: $color-green;
                }
            }
        }
    }
    &-text{
        text-align: right;
        font-size: 13px;
        letter-spacing: 1px;
        &__title{
                font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 30px;
            letter-spacing: 2px;
        }
        p{
            padding-bottom:25px;
            line-height: 1.5;
        }
        &__phone{
            font-size: 18px;
            color: #fff;
            &:hover{
               // opacity: 0.8;
                color: $color-green;
            }
        }
    }
    &-social{
        text-align: right;
        li{
            display:inline-block;
            vertical-align: middle;
            margin-left: 26px;
            a{
                display: inline-block;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    
}

.cards{
    li{
        display:inline-block;
        vertical-align: middle;
        margin-right: 15px;
        img{
            width:45px;
        }
    }
}


.y-row-bottom{
    padding-top: 75px;
}

.wrap-go-up {
    position: fixed;
    bottom: 37px;
    right: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 10;
    &.up{
        
            -webkit-transform: translate(500px, 0);
            -moz-transform: translate(500px, 0);
            -ms-transform: translate(500px, 0);
            -o-transform: translate(500px, 0);
            transform: translate(500px, 0);
        
    }
}
.go-up {
    display: block;
    width: 54px;
    height: 54px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #ffffff;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.go-up:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 4px solid #2a5c48;
    border-left: 4px solid #2a5c48;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: 21px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.go-up:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 4px solid #2a5c48;
    border-left: 4px solid #2a5c48;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 27px;
    left: 21px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.go-up:hover {
    background-color: #52c18c;
}

.go-up:hover:after {
    border-color: #ffffff;
}

.go-up:hover:before {
    border-color: #ffffff;
}



@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 991px) {
    .footer-logo{
        width: 100px;
        img{
            max-width:100%;
        }
    }
    .footer-nav {
        width: calc(100% - 100px);
        padding-left: 25px;
    }
    .footer-text__title{
        font-size: 24px;
    }
    .cards li{
        margin-right: 8px;
    }
    
    
}

@media screen and (max-width: 740px) {
    
	.wrap-go-up {
		right: 10px;
		bottom: 10px;
	}

	.go-up {
		width: 40px;
		height: 40px;
	}

	.go-up:before {
		width: 11px;
		height: 11px;
		top: 23px;
		left: 15px;
	}

	.go-up:after {
		width: 11px;
		height: 11px;
		left: 15px;
		top: 13px;
	}

    
    .footer .y-col {
        width: 100%;
        border-bottom: 1px solid #507865;
        margin-bottom: 45px;
        padding-bottom: 45px;
    }
    .footer-nav {
        font-size: 15px;
        text-align: left;
        width: calc(100% - 100px);
        padding-left: 25px;
    }
    .footer-nav-item {
        margin-bottom: 23px;
    }
    .footer-logo {
        width: 100px;
        vertical-align: top;
    }
    .footer {
        padding: 50px 0 60px;
    }
    .footer-text{
        text-align: center;
    }
    .y-row-bottom {
        padding-top: 30px;
        @include flex-direction(column-reverse);
        .y-col{
            padding-bottom: 30px;
              margin-bottom: 0;
            border: none;
        }
    }
    .cards li{
        margin: 0 4px;
    }
    .footer-social {
        text-align: center;
        li{
            margin: 0 13px;
        }
    }
    .cards{
        text-align: center;
    }
    
    
    
    
}

@media screen and (max-width: 639px) {
  
}

@media screen and (max-width: 479px) {
   .footer-nav {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
}
    .cards li img {
        width: 37px;
    }
    .footer-text__title {
        font-size: 20px;
    }
    .footer-nav{
        font-size: 14px;
    }
    

}

@media screen and (max-width: 374px) {
    
}
