@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.catalog-menu__a-bg{
    opacity: 0.15;    
}
.catalog-menu__a:hover .catalog-menu__a-bg{
    opacity: 0.5;
}

.catalog-menu__wrap-a:nth-child(n) {
    border-left: 0;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
    margin-bottom: -1px;
}
.catalog-menu__wrap-a:nth-child(2){
    border-right: 0;
}
.catalog-menu__wrap-a:last-child{
    border-right: 0;
}


.mobile-menu__item-a--fan-2{
   font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 11px 20px;
    font-weight: 400;
    text-transform: none;
}
.mobile-menu__item-a--fan-2:hover{
    color: #52c18c;
    border-color: #52c18c;
    
}

